{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },

    "plugins": [ "react", "flow-vars", "flowtype" ],

    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
    },

    "extends": [
        "eslint:recommended",
        "mourner",
        "plugin:react/recommended"
    ],

    "rules": {
        "complexity": ["warn", 7],
        "semi": "error",
        "curly": ["error", "multi-line"],
        "block-scoped-var": "error",
        "global-require": "off",
        "camelcase": "off",
        "no-use-before-define": "off",
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "constructor-super": "error",
        "no-const-assign": "error",
        "no-var": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "indent": "error",
        "flow-vars/define-flow-type": 1,
        "flow-vars/use-flow-type": 1,
        "flowtype/space-after-type-colon": [ 1, "always" ],
        "flowtype/space-before-type-colon": [ 1, "never" ],
    }
}
