@cadance: 17px;
@cadance2: @cadance * 2;
@cadance3: @cadance * 3;

@gray1: #eee;
@gray2: #ccc;
@gray3: #aaa;
@gray4: #888;
@gray5: #666;
@gray6: #444;
@gray7: #222;

body {
    font-family: Helvetica;
    font-size: 13px;
    line-height: (@cadance / 12px) * 100%;
    color: @gray6;
    background-color: @gray4;
}

img {
    max-width: 100%;
}

h2 {
    font-size: @cadance2;
    line-height: 110%;
    margin-bottom: @cadance;
    font-weight: bold;
    color: @gray7;
}

p {
    margin-bottom: @cadance;
}

.KallaxComponent {
    max-width: 35 * @cadance;
    margin: 0 auto;
    padding: @cadance2;
}

.LoadingComponent {
    width: @cadance2;
    height: @cadance2;
    margin: 0 auto;
    background-color: #333;
    border-radius: 100%;
    animation: LoadingComponent 1.0s infinite ease-in-out;
}

@keyframes LoadingComponent {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

.callout {
    background-color: @gray1;
    border: 1px #eee solid;
    padding: @cadance2 @cadance3;
    margin-bottom: @cadance2;
    border-radius: 5px;

    &:hover {
        background-color: @gray2;
    }
}
